@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgba(14, 233, 14, 0.656);
}

.card {
  position: relative;
  margin: 10px auto 10px auto;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.card p {
  text-align: center;
  font: 73.33px georgia, Times New Roman, serif;
}

.row {
  height: 33%;
}
#row1 {
  text-align: left;
  align-items: center;
  justify-content: left;
  padding-left: 15px;
}
#row3 {
  text-align: right;
  align-items: center;
  justify-content: right;
  padding-right: 15px;
}
.item1,
.item2 {
  height: 30px;
  width: 60px;
}
